@font-face {
  font-family: 'Anton';
  src: url('./font/Anton-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('./font/Oswald-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}
