 <!-- modal window -->
<div class="back-drop-modal">
    <div class="modal-window">
        <h3 class="title-modal-sign">Sing In</h3>
        <form class="modal-sing-form">
            <label class="feedback-form__label" for="email">Email</label>
            <input class="input-email" type="email"
                name="email"
                id="email"
                autocomplete="on">
            <div class="password-wrapper">
                <label class="feedback-form__label" for="password">Password</label>
                <input class="input-password" type="password"
                    name="password"
                    id="password" data-lengt='4'
                    autocomplete="on">
                <div class="icon-wrapper"><img class="icon-open"
                        src="./images/open-eyes.png" alt="">
                    <img class="icon-close"
                        src="./images/close-eyes.png" alt=""></div>
            </div>
            <a class="forfgot-password" href="">Forgot your password?</a>
            <div class="enter-email-for-password"></div>
            <div class="btn-form-wrapper">
                <button class="btn-register" type="submit" value=""
                    id='submit'>Register</button>
                <button class="btn-sign" type="submit" value=""
                    id='sign'>Log In</button>
            </div>
        </form>
        <div class="btn-wrapper">
            <button class="btn-modal-sign" type="submit" value=""
                id='submit'>login with google</button>
            <button class="btn-modal-sign-git" type="submit" value=""
                id='submit'>login with github</button>
        </div>
    </div>
</div>
<!-- ========= -->