.expected-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 52px;
  color: gold;
  text-shadow: 0 0 20px rgb(201, 162, 45);
  margin-bottom: 30px;
  margin-top: 150px;
}

.expected-swiper {
  width: 100%;
  box-shadow: 0 0 10px 10px rgba(6, 230, 246, 0.7);
  border-radius: 10px;
}

body.white-theme .expected-swiper {
  box-shadow: 0 0 10px 10px rgba(242, 10, 10, 0.7);
}

.expected-movies-list {
  width: 100%;
}

.expected-movies-item {
  display: flex;
  transition: transform 0.3s, box-shadow 0.3s, filter 0.3s;
  overflow: hidden;
}

.expected-img {
  max-width: 350px;
  filter: saturate(145%);
  border-radius: 10px 0 0 10px;
  transition: transform 0.3s, box-shadow 0.3s, filter 0.3s;
}

.expected-info {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}

.expected-title-modal {
  font-family: 'Aboreto';
  color: gold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-shadow: 0 0 20px rgb(201, 162, 45);
  margin-bottom: 20px;
}

body.white-theme .expected-title-modal {
  text-shadow: 0 0 10px rgb(242, 10, 10);
}

.expected-review {
  font-family: 'Aboreto';
  color: gold;
  font-size: 21px;
  line-height: 1.24;
  margin-bottom: 30px;
}

body.white-theme .expected-review {
  color: gold;
  text-shadow: 0 0 10px rgb(242, 10, 10);
}

.expected-relese {
  font-family: 'Aboreto';
  color: gold;
  font-size: 30px;
  margin-bottom: 20px;
}

body.white-theme .expected-relese {
  color: gold;
  text-shadow: 0 0 10px rgb(242, 10, 10);
}

.expected-popularity {
  font-family: 'Aboreto';
  color: gold;
  font-size: 20px;
}

body.white-theme .expected-popularity {
  color: gold;
  text-shadow: 0 0 10px rgb(242, 10, 10);
}

.expected-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.expected-btn {
  font-family: 'Aboreto';
  cursor: pointer;
  background-color: transparent;
  max-width: 130px;
  border: none;
  border-radius: 5px;
  color: gold;
  text-shadow: 0 0 5px rgb(31, 53, 20);
  padding: 5px;
  box-shadow: 0 0 5px 5px #06e6f6b3;
  transition: transform 0.3s;

  &:focus,
  &:hover {
    transform: scale(1.1);
    outline: none;
  }
}

body.white-theme .expected-btn {
  box-shadow: 0 0 10px 10px rgba(242, 10, 10, 0.7);
  color: rgb(244, 72, 9);
  font-weight: bold;
  text-shadow: 0 0 10px rgb(242, 10, 10);
  background-color: rgba(15, 14, 14, 0.5);
}

.expected-name {
  font-family: 'Aboreto';
  color: gold;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 150px;
  height: 1.2em;
  white-space: nowrap;
  text-align: center;
}

// swiper button
.swiper-button-prev,
.swiper-button-next {
  width: 37px;
  height: 35px;
  cursor: pointer;
  text-shadow: 0 0 15px rgb(6, 230, 246);
}

body.white-theme .swiper-button-prev,
body.white-theme .swiper-button-next {
  text-shadow: 0 0 10px rgb(242, 10, 10);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: rgb(6, 230, 246);
}

body.white-theme .swiper-button-prev::after,
body.white-theme .swiper-button-next::after {
  color: rgb(242, 10, 10);
}

.swiper-button-next {
  position: absolute;
  top: 0px;
  left: -10px;
  z-index: 10;
}
