.back-drop-modal {
  overflow-y: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url('../images/background-fon.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  z-index: 25;
}

.back-drop-modal.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  max-width: 528px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
}

.modal-sing-form {
  display: flex;
  flex-direction: column;
  // row-gap: 10px;
  margin-bottom: 50px;
}

.fedback-form-group {
  max-width: 100%;
}

.password-wrapper {
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.icon-open {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(-50%, -5%);
  opacity: 1;
}

.icon-close {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(-50%, -5%);
  opacity: 0;
}

// .icon-open.hide {
//   opacity: 0;
// }

.icon-close.hide {
  opacity: 1;
}

.input-email,
.input-password {
  font-family: 'Aboreto';
  background-color: transparent;
  padding: 3px;
  max-width: 100%;
  height: 30px;
  outline: 1px solid gold;
  border: none;
  border-radius: 5px;
  color: rgb(26, 25, 25);
  box-shadow: 0 0 10px 10px rgba(201, 162, 45, 0.9),
    inset 0 0 30px 10px rgba(201, 162, 45, 0.9);
  transition: transform 0.4s;
}

.btn-form-wrapper {
  margin-top: 30px;
  display: flex;
  column-gap: 10px;
}

.btn-register,
.btn-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Aboreto';
  background-color: transparent;
  padding: 3px;
  width: 100%;
  height: 30px;
  outline: 1px solid gold;
  border: none;
  border-radius: 5px;
  color: rgb(26, 25, 25);
  box-shadow: 0 0 10px 10px rgba(201, 162, 45, 0.9),
    inset 0 0 30px 10px rgba(201, 162, 45, 0.9);
  transition: transform 0.4s;

  &:hover,
  &:focus {
    transform: scale(1.02);
  }
}

.title-modal-sign {
  margin-bottom: 25px;
  font-size: 36px;
  text-align: center;
  color: rgb(255, 183, 0);
  text-shadow: 0 0 5px rgb(31, 53, 20);
}
.btn-wrapper {
  display: flex;
  gap: 20px;
}

.btn-modal-sign,
.btn-modal-sign-git {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: 'Aboreto';
  cursor: pointer;
  background-color: transparent;
  width: 210px;
  height: 30px;
  outline: 1px solid gold;
  border: none;
  border-radius: 5px;
  color: gold;
  padding: 5px;
  box-shadow: 0 0 10px 10px rgba(201, 162, 45, 0.902),
    inset 0 0 30px 10px rgba(201, 162, 45, 0.9);
  transition: transform 0.4s;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }

  &::before {
    content: ' \0047';
    position: absolute;
    right: 10px;
    display: block;
    color: red;
    font-size: 20px;
  }
}

.btn-modal-sign-git::before {
  content: '';
  background-image: url('../images/icons8-github.svg');
  background-position: center;
  background-size: cover;
  display: block;
  width: 20px;
  height: 20px;
}

.btn-log-out {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: 'Aboreto';
  cursor: pointer;
  background-color: transparent;
  padding: 3px;
  max-width: 80px;
  height: 30px;
  outline: 1px solid gold;
  border: none;
  border-radius: 5px;
  color: gold;
  padding: 5px;
  box-shadow: 0 0 10px 10px rgba(6, 230, 246, 0.7);
  font-size: 12px;
  transition: transform 0.4s;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

body.white-theme .btn-log-out {
  box-shadow: 0 0 10px 10px rgba(242, 10, 10, 0.7);
}
